html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

*:focus-visible {
  outline-offset: 4px;
  outline-width: 1px;
  outline-color: #DB83ED;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #000;
}

header nav {
  text-align: right;
}

header nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
  color: #6D28D9;
}

h2 {
  font-size: 2rem;
  color: #6D28D9;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Responsive */

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }

  footer .HF {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../images/hf-logo.png');
    background-size: 50px;
    background-position: left center;
    padding-left: 60px;
  }
}

@media (min-width: 640px) {
  body {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }

  footer .shoutout {
    height: 50px;
    line-height: 50px;
    float: right;
    text-align: right;
  }

  footer .HF {
    float: left;
    text-align: left;
  }

  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

main pre code {
  background-color: #FAFAFA;
  padding: 10px;
}

main code {
  background-color: #EDE4FA;
  font-family: monospace;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

nav.breadcrumb {
  text-align: right;
}

nav.breadcrumb a {
  font-weight: normal;
  color: black;
  text-decoration: underline;
  text-transform: none;
  display: inline;
  margin: 0;
}

.beforeafter {
  padding-top: 5px;
  margin-bottom: 0px;
  font-style: italic;
}

.filename {
  background-color: #EAEAEA;
  padding-left: 5px;
}

.filename pre {
  margin: 5px;
}

table pre {
  margin: 0;
}

table tbody td {
  padding: 5px;
}

details {
  border: 2px solid #C7A1FF;
  padding: 5px;
  margin-bottom: 10px;
}

summary {
  font-weight: bold;
}

.example-container {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-container h2 {
  font-size: small;
}

/* Filter input */

.single_flt {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  appearance: none;
  border-radius: 0;
  border: 2px solid #DB83ED;
}

/* Utilities */
.nowrap {
  white-space: nowrap;
}
