pre code.hljs{
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs{
  padding: 3px 5px
}
.hljs{
  color: var(--code-color);
  background: var(--code-bg-color);
}
.hljs-comment,.hljs-quote{
  color: var(--code-comment-color);
  font-style: italic
}
.hljs-doctag,.hljs-formula,.hljs-keyword{
  color: var(--code-kw-color);
}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
  color: var(--code-name-color);
}
.hljs-literal{
  color: var(--code-literal-color);
}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
  color: var(--code-string-color);
}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
  color: var(--code-attr-color);
}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
  color: var(--code-symbol-color);
}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
  color: var(--code-class-color);
}
.hljs-emphasis{
  font-style: italic
}
.hljs-strong{
  font-weight: 700
}
.hljs-link{
  text-decoration: underline
}
