body {
  --bg-color: #FFFFFF;
  --text-color: #333;
  --outline-color: #DB83ED;
  --header-color: #6D28D9;
  --bg-nav: transparent;
  --code-color: #FAFAFA;
  --filename-bg: #EAEAEA;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #333;
    --text-color: #C9D1D9;
    --header-color: #8946C8;
    --bg-nav: #393939;
    --code-color: transparent;
    --filename-bg: #2C2C2C;
  }

  a {
    color: #EB82DC;
  }

  a:visited {
    color: #8B78C5;
  }

  code.hljs {
    background-color: transparent;
    filter: invert(1);
  }
}

*:focus-visible {
  outline-color: var(--outline-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

input {
  background-color: rgba(255, 255, 255, 0.06);
  color: var(--text-color);
}

details {
  border: 2px solid #C7A1FF;
}

main code, main pre, main pre code, .example pre {
  background-color: var(--code-color);
}

.filename {
  background-color: var(--filename-bg);
}

nav.breadcrumb a {
  color: var(--text-color);
}
