:root {
  --bg-color: #FFFFFF;
  --text-color: #333;
  --outline-color: #DB83ED;
  --header-color: #5E5184;
  --anchor-color: #9E358F;
  --anchor-visited-color: #6F5F9C;
  --code-bg-color: #FAFAFA;
  --filename-bg: #EAEAEA;

  /* Code highlighting */
  --code-color: #383a42;
  --code-bg-color: #fafafa;
  --code-comment-color: #a0a1a7;
  --code-kw-color:#af005f;
  --code-name-color: #e45649;
  --code-literal-color: #268bd2;
  --code-string-color: #cb4b16;
  --code-attr-color: #986801;
  /* Used for both type and data ctors */
  --code-constructor-color: #5f5faf;
  /* Names being defined */
  --code-symbol-color: #4078f2;
  /* Names of fields in record declarations */
  --code-record-field-color: #c18401;
  --code-pragma-color: #2aa198;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #C9D1D9;
    --header-color: #BBA1FF;
    --anchor-color: #EB82DC;
    --anchor-visited-color: #D5C5FF;
    --code-bg-color: transparent;
    --filename-bg: #2C2C2C;

  /* Code highlighting*/
  --code-color: #C9D1D9;
  --code-bg-color: #333;
  --code-comment-color: #a0a1a7;
  --code-kw-color:#BBA1FF;
  --code-name-color: #e45649;
  --code-literal-color: #268bd2;
  --code-string-color: #cb4b16;
  --code-attr-color: #986801;
  --code-constructor-color: #d079c9;
  --code-symbol-color: var(--code-color);
  --code-record-field-color: #c18401;
  --code-pragma-color: #2aa198;
  }


}

*:focus-visible {
  outline-color: var(--outline-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--anchor-color);
}

a:visited {
  color: var(--anchor-visited-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

input {
  background-color: rgba(255, 255, 255, 0.06);
  color: var(--text-color);
}

details {
  border: 2px solid #C7A1FF;
}

main code, main pre, main pre code, .example pre {
  background-color: var(--code-bg-color);
}

.filename {
  background-color: var(--filename-bg);
}

nav.breadcrumb a {
  color: var(--text-color);
}
